.section-1 {
  background-image: url(https://i.pinimg.com/originals/ec/ec/36/ecec3687a972a20d8ba953b7f1bf4e43.gif);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(4, 0, 56, 0.9);
}

.text-warning {
  color: yellow!important;
}

.section-2 {
  background-color: rgb(209, 190, 255);
  height: 50rem;
  width: 100vw;
}

.blue-box {
  background-color: #2F396C;
  height: 40rem;
  width: 40rem;
  border-radius: 10%;
}

.referral {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}